.header {
    border-radius: 48px 0 0 0;
}

.navbar-toggler.navbar-brand {
    margin-right: 1rem !important;
    line-height: inherit !important;
    white-space: nowrap !important;
    border: none !important;
}

.navbar-toggler {
    border: none;
}

.brand {
    font-family: Avenir !important;
    font-size: 24px !important;
    letter-spacing: 3px;
    color: #9F9FA0 !important;
    text-transform: uppercase;
}
